@use "global" as *;

.about__inner {
  position: relative;
}

.about__main-image {
  margin-top: rem(28);

  @include mq(md) {
    margin-top: rem(40);
    position: relative;
  }
}

.about__main-image::after {
  content: '';
  position: absolute;
  display: none;
  width: rem(194);
  height: rem(181);
  background-image: url(../images/common/coral-illustration.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right: calc(50% - min(48vw, rem(637)));
  bottom: rem(-90);

  @include mq(md) {
    display: block;
  }
}

