@use "global" as *;

.page-campaign__cards {
  display: grid;
  gap: rem(40) rem(40);
  margin-top: rem(40);
  padding: 0 rem(32.5);

  @include mq(md) {
    grid-template-columns: repeat(2, 1fr);
    gap: rem(80) rem(40);
    padding: 0;
  }
}

.page-campaign__pagenavi {
  margin-top: rem(80);
}
