@use "global" as *;

.page-about-lead__content-sp {
  position: relative;

  @include mq(md) {
    display: none;
  }
}

.page-about-lead__content-sp::before,
.page-about-lead__content-pc::before{
  content: '';
  position: absolute;
  width: calc((120 / 375) * 100vw);
  height: calc((55 / 375) * 100vw);
  background-image: url(../images/common/fish-illustration-right.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  left: calc(50% - min(46vw, rem(630)));
  top: rem(-24);

  @include mq(md) {
    width: rem(301);
    height: rem(138);
    left: calc(50% - min(48vw, rem(622)));
    top: rem(-70);
  }
}

.page-about-lead__content-pc {
  display: none;

  @include mq(md) {
    display: block;
    position: relative;
  }
}

.page-about-lead__image {
  position: relative;
}

.page-about-lead__image-right img {
  aspect-ratio: 345/228;
  object-fit: cover;
  height: auto;
}

.page-about-lead__body-title {
  font-family: $second-font-family                    ;
  font-size: min(10.666vw, rem(50));
  font-weight: $regular;
  line-height: 1.02;
  color: $white;
  position: absolute;
  top: 10.5%;
  left: 7%;
}

.page-about-lead__box {
  margin-top: rem(40);
}

.page-about-lead__text {
  font-family: $base-font-family;
  font-size: rem(16);
  font-weight: $regular;
  line-height: calc(24 / 16);
  color: $title-color;
}