@use "global" as *;

.voice__cards {
  margin-top: rem(45);
  position: relative;

  @include mq(md) {
    margin-top: rem(31);
  }
}

.voice__cards::before {
  content: '';
  position: absolute;
  display: none;
  width: rem(301);
  height: rem(138);
  background-image: url(../images/common/fish-illustration-right.png);
  background-position: center;
  background-repeat: no-repeat; 
  background-size: contain;
  left: calc(50% - min(48vw, rem(620)));
  top: rem(-215);

  @include mq(md) {
    display: block;
  }
}


.voice__cards::after {
  content: '';
  position: absolute;
  display: none;
  width: rem(71);
  height: rem(162);
  background-image: url(../images/common/dragon-illustration.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  right: calc(50% - min(48vw, rem(540)));
  bottom: rem(-205);

  @include mq(md) {
    display: block;
  }
}

.voice__button {
  text-align: center;
  margin-top: rem(40);

  @include mq(md) {
    margin-top: rem(80);
  }
}