@use "global" as *;

.header {
  position: fixed;
  z-index: 900;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: rem(80);
  padding: 0 rem(15);
  background-color: rgba(13, 41, 54, 0.68);

  @include mq("md") {
    padding: 0 rem(40);
    height: rem(90);
  }
}

.header.is-open {
  background-color: $accent-color;
  transition: background-color 0.2s
}

.header__logo {
  max-width: rem(102);
  width: 100%;
  height: inherit;
  z-index: 9999;

  @include mq("md") {
    max-width: rem(133);
  }
}

.header__logo a {
  height: inherit;
  display: flex;
  align-items: center;
}

.header__inner {
  height: inherit;
  display: flex;
  justify-content: space-between;
}

.header__nav {
  display: none;
  height: inherit;

  @include mq("md") {
    display: block;
  }
}

.header__nav-items {
  display: flex;
  height: inherit;
  column-gap: rem(40.3);
}

.header__nav-item {
  height: inherit;
}

.header__nav-item a {
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: rem(18);
  font-family: $second-font-family;
  font-weight: $regular;
  line-height: 1;
  color: $white;
  position: relative;
}

.header__nav-item a::after {
  content: '';
  position: absolute;
  bottom: rem(20);
  left: 0;
  width: 100%;
  height: 1px;
  border-radius: 4px;
  background: $white;
  transition: transform 0.3s;
  transform: scale(0, 1);
  transform-origin: center top;
}

.header__nav-item a:hover::after {
  transform: scale(1, 1);
  opacity: 1;
}

.header__nav-item a:hover {
  opacity: 1;
}

.header__nav-item span {
  margin-top: rem(7);
  display: block;
  font-size: rem(10);
  font-family: $base-font-family;
}

.header__hamburger {
  position: fixed;
  top: rem(28);
  right: rem(15);
  width: rem(32);
  height: rem(24);
  z-index: 999;
  cursor: pointer;

  @include mq("md") {
    display: none;
  }
}

.header__hamburger span {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 100%;
  height: 1px;
  background-color: $white;
}

.header__hamburger span:nth-of-type(1) {
  top: 0;
  transition: transform 0.5s;
}

.header__hamburger span:nth-of-type(2) {
  top: rem(12);
  transition: opacity 0.5s;
}

.header__hamburger span:nth-of-type(3) {
  bottom: 0;
  transition: transform 0.5s;
}

.header__hamburger.is-open span:nth-of-type(1) {
  transform: translateY(rem(12)) rotate(39deg);
}

.header__hamburger.is-open span:nth-of-type(2) {
  opacity: 0;
}

.header__hamburger.is-open span:nth-of-type(3) {
  transform: translateY(rem(-12)) rotate(-39deg);
}

.header__drawer {
  display: none;
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  width: 100%;
  height: calc(100vh - 80px);
  margin-top: rem(80);
  background-color: $accent-color;
  overflow-y: scroll;
}

.header__drawer-wrapper {
  width: 100%;
  height: 100%;
  padding-top: rem(19);
}

.header__drawer-nav {
  position: absolute;
  left: calc(50% - rem(3.5));
  transform: translateX(-50%);
  padding-left: rem(22);
  padding-bottom: rem(20);
  width: rem(338);

}

.header__drawer-items {
  display: flex;
  column-gap: rem(24);
}

.header__drawer-content {
  display: flex;
  flex-direction: column;
  row-gap: rem(32.5);
}

.header__drawer-block {
  display: flex;
  flex-direction: column;
  row-gap: rem(15.5);
}

.header__drawer-item a {
  display: block;
  font-size: rem(16);
  line-height: calc(18 /16);
  font-weight: $regular;
  line-height: 1;
  letter-spacing: 0.03em;
  color: $white;

  padding: rem(5) 0;
}

.header__drawer-item--main a {
  font-weight: $bold;
  position: relative;
  line-height: 1.05;
}

.header__drawer-item--main a::before {
  content: '';
  position: absolute;
  top: 4px;
  left: rem(-22);
  background-image: url(../images/common/drawer-starfish.png);
  background-size: cover;
  width: rem(18);
  height: rem(18);
}